/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SinkinSans-200XLightItalic";
  src: url("./fonts/SinkinSansLightItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/SinkinSansLightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/SinkinSansLightItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/SinkinSansLightItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/SinkinSansLightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/SinkinSansLightItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/SinkinSansLightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}